/*
*==================================================STYLES TARJETAS ===================================================
*/


.order-card {
    color: #FFFFFF;
    font-size: 24px;
}

.bg-c-blue {
    background: linear-gradient(45deg, #9bbbe0, #4099ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #a3c5be, #2ed8b6);
}
.bg-c-darkBlue {
    background: linear-gradient(45deg, #9d9be2, #4c74f5);
}

.bg-c-lemon {
    background: linear-gradient(45deg, #c4f3b4, #3c5534);
}
.bg-c-gray {
    background: linear-gradient(45deg, #b8b8b8, #807c7c);
}
.bg-c-orange {
    background: linear-gradient(45deg, #f5be91, #c16645);
}

.card {
    -webkit-box-shadow: 0.1px 2.94px.0.06px rgba(4,26,55,0.16);
    box-shadow: 0.1px 2.94px.0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-blok {
    padding: 10px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
