/* ----- ----- ----- ----- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
  body {
    font-size: 16px;
    background: #fff;
    font-family: "Roboto";
}*/
/*
  a {
    color: #0074D9;
}*/
/*
.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}*/
/*
.info {
    text-align: center;
    padding: 20px;
    color: #001F3F;
    border-bottom: 1px solid #ccc;
}*/
/*
.info p {
    margin-top: 20px;
}*/
/*
.formTables h2 {
    font-size: 32px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
}*/
.formTables > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.formTables .radio label,
.formTables .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #0074D9;
    position: relative;
    padding: 5px 15px 5px 64px;
    font-size: 2em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.formTables .radio label:hover,
.formTables .checkbox label:hover {
background: rgba(255, 65, 54, 0.1);
}
.formTables .radio label:before,
.formTables .checkbox label:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 5px solid #0074D9;
}
.formTables input[type="radio"] {
    display: none;
}
.formTables input[type="radio"]:checked + label:before {
    display: none;
}
.formTables input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #0074D9;
    border-radius: 5px;
    color: #fff;
}
.formTables .checkbox label:before {
    border-radius: 3px;
}
.formTables .checkbox input[type="checkbox"] {
    display: none;
}
.formTables .checkbox input[type="checkbox"]:checked + label:before {
    display: none;
}
.formTables .checkbox input[type="checkbox"]:checked + label {
    background: #0074D9;
    color: #fff;
    padding: 5px 15px;
}

/* radio buttons checbox mini */
.inputBtn > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.inputBtn .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #0074D9;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1.5em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.inputBtn .checkbox label:hover {
background: rgba(255, 65, 54, 0.1);
}

.inputBtn .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 17px;
    top: 15px;
    border-radius: 2px;
    background: none;
    border: 3px solid #0074D9;
}
.inputBtn .checkbox input[type="checkbox"] {
    display: none;
}
.inputBtn .checkbox input[type="checkbox"]:checked + label:before {
    display: none;
}
.inputBtn .checkbox input[type="checkbox"]:checked + label {
    background: #0074D9;
    color: #fff;
    padding: 5px 15px;
}
